<p><i class="fa fa-twitter fa-lg fa-fw"></i> <a href="https://twitter.com/foobartn/" target="_blank">@foobartn</a></p>
<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/foobartn/" target="_blank">@foobartn</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/bartonjoshua" target="_blank">linkedin.com/in/bartonjoshua</a></p>
<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="http://foobartn.github.io/" target="_blank">foobartn.github.io</a></p>
<p><i class="fa fa-file-word-o fa-lg fa-fw"></i> <a href="https://1drv.ms/w/s!Avkw0k6P6mZIhHr1E5Ufd2tO7QER" target="_blank">full resume</a>